{% extends "layout.html" %}
{% set title = "Heart Disease Detector" %}
{% block content %}
    <div class="mdl-card mdl-shadow--4dp" style="margin : 10px auto 10px auto;">
        <form method="POST" action="">
        <div class="mdl-card__supporting-text mdl-card--border">
            <!-- age -->
            <h6>Age</h6>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="number" class="mdl-textfield__input" id="age" name="age" />
                <label for="age" class="mdl-textfield__label">Age...</label>
            </div>

            <!-- sex -->
            <h6>Gender</h6>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="male">
                <input class="mdl-radio__button" type="radio" name="sex" id="male" value="1" checked>
                <span class="mdl-radio__label">Male</span>
            </label>
            <br>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="female">
                <input class="mdl-radio__button" type="radio" name="sex" id="female" value="0">
                <span class="mdl-radio__label">Female</span>
            </label>

            <!-- chest-pain type -->
            <h6>Chest-pain type</h6>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="typical-angina">
                <input class="mdl-radio__button" type="radio" name="chest-pain" id="typical-angina" value="1" checked>
                <span class="mdl-radio__label">typical angina</span>
            </label>
            <br>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="atypical-angina">
                <input class="mdl-radio__button" type="radio" name="chest-pain" id="atypical-angina" value="2">
                <span class="mdl-radio__label">atypical angina</span>
            </label>
            <br>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="non-anginal-pain">
                <input class="mdl-radio__button" type="radio" name="chest-pain" id="non-anginal-pain" value="3">
                <span class="mdl-radio__label" for="gridRadios3">non-anginal pain</span>
            </label>
            <br>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="asymptotic">
                <input class="mdl-radio__button" type="radio" name="chest-pain" id="asymptotic" value="4">
                <span class="mdl-radio__label" for="gridRadios4">asymptotic</span>
            </label>
            <br>

            <!-- resting blood pressure -->
            <h6>Resting Blood Pressure</h6>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="number" class="mdl-textfield__input" name="bloodPressure" id="bloodPressure" />
                <label for="bloodPressure" class="mdl-textfield__label">Resting Blood Pressure (mmHg)</label>
            </div>

            <!-- serum cholestrol -->
            <h6>Serum Cholestrol (mg/dl)</h6>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="number" class="mdl-textfield__input" name="serumCholestrol" id="serumCholestrol" />
                <label for="serumCholestrol" class="mdl-textfield__label">Serum Cholestrol (mg/dl)</label>
            </div>

            <!-- fasting blood sugar > 120 mg/dl -->
            <h6>Fasting Blood Sugar > 120 mg/dl</h6>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="fbs-true">
                <input class="mdl-radio__button" type="radio" name="FastingBloodSugar" id="fbs-true" value="1" checked>
                <span class="mdl-radio__label">True</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="fbs-false">
                <input class="mdl-radio__button" type="radio" name="FastingBloodSugar" id="fbs-false" value="0">
                <span class="mdl-radio__label">False</span>
            </label>
            
            <!-- resting ECG -->
            <h6>Resting ECG</h6>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="normal">
                <input class="mdl-radio__button" type="radio" name="restingECG" id="normal" value="0" checked>
                <span class="mdl-radio__label">Normal</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="havingST">
                <input class="mdl-radio__button" type="radio" name="restingECG" id="havingST" value="1">
                <span class="mdl-radio__label">Having ST-T wave abnormality</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="LVH">      
                <input class="mdl-radio__button" type="radio" name="restingECG" id="LVH" value="2">
                <span class="mdl-radio__label">Left Ventricular Hyperthrophy</span>
            </label>

            <!-- max-heart rate achieved -->
            <h6>Max Heart Rate Achieved</h6>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="number" class="mdl-textfield__input" name="maxHeartRate" id="maxHeartRate" />
                <label for="maxHeartRate" class="mdl-textfield__label">Max-heart Rate Achieved</label>
            </div>

            <!-- exercise induced angina -->
            <h6>Exercise Induced Angina</h6>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="eia-true">
                <input class="mdl-radio__button" type="radio" name="exerciseInducedAngina" id="eia-true" value="1" checked>
                <span class="mdl-radio__label" for="gridRadios1">Yes</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="eia-false">
                <input class="mdl-radio__button" type="radio" name="exerciseInducedAngina" id="eia-false" value="0">
                <span class="mdl-radio__label" for="gridRadios2">No</span>
            </label>

            <!-- ST depression induced by exercise relative to rest -->
            <h6>ST depression induced by exercise relative to rest</h6>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="number" class="mdl-textfield__input" id="stDepression" name="stDepression" />
                <label for="stDepression" class="mdl-textfield__label">ST depression induced by exercise relative to rest</label>
            </div>

            <!-- peak exercise ST segment -->
            <h6>Peak Exercise ST Segment</h6>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="upsloping">
                <input class="mdl-radio__button" type="radio" name="peakExerciseSTSegment" id="upsloping" value="1" checked>
                <span class="mdl-radio__label">Upsloping</span>
            </label>
            <br>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flat">
                <input class="mdl-radio__button" type="radio" name="peakExerciseSTSegment" id="flat" value="2">
                <span class="mdl-radio__label">Flat</span>
            </label>
            <br>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="downsloping">
                <input class="mdl-radio__button" type="radio" name="peakExerciseSTSegment" id="downsloping" value="3">
                <span class="mdl-radio__label">Downsloping</span>
            </label>

            <!-- number of major vessels (0-3) colored by flourosopy -->
            <h6>Number of major vessels (0-3) colored by fluorosopy</h6>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="number" class="mdl-textfield__input" name="major-fluorosopy" id="major-fluorosopy" />
                <label for="major-fluorosopy" class="mdl-textfield__label">Number of major vessels (0-3) colored by flourosopy</label>
            </div>

            <!-- thal -->
            <h6>Thal</h6>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="normal">
                <input class="mdl-radio__button" type="radio" name="thal" id="normal" value="3" checked>
                <label class="mdl-radio__label" for="gridRadios1">Normal</label>
            </label>
            <br>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="fixedDefect">
                <input class="mdl-radio__button" type="radio" name="thal" id="fixedDefect" value="6">
                <span class="mdl-radio__label" for="gridRadios2">Fixed Defect</span>
            </label>
            <br>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="reversableDefect">
                <input class="mdl-radio__button" type="radio" name="thal" id="reversableDefect" value="7">
                <span class="mdl-radio__label" for="gridRadios2">Reversable Defect</span>
            </label>

        </div> 
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-layout-spacer"></div>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored form-submit-btn" style="margin : 0 auto 0 auto;">Submit</button>
            <div class="mdl-layout-spacer"></div>
        </div>
        </form>
    </div>

{% endblock content %}
{% block scripts %}
<script>
    $(".form-submit-btn").click(function(){
        var age_in = $("input[name='age']").val();
        var gender_in = $("input[name='sex']:checked").val();
        var cp_in = $("input[name='chest-pain']:checked").val();
        var blood_pres_in = $("input[name='bloodPressure']").val();
        var serum_in = $("input[name='serumCholestrol']").val();
        var fasting_bld_sgr_in = $("input[name='FastingBloodSugar']:checked").val();
        var ecg_in = $("input[name='restingECG']:checked").val();
        var max_heart_rate_in = $("input[name='maxHeartRate']").val();
        var exc_induced_in = $("input[name='exerciseInducedAngina']:checked").val(); 
        var st_depression_in = $("input[name='stDepression']").val();
        var peak_exercise_st_in = $("input[name='peakExerciseSTSegment']:checked").val();
        var major_fluorosopy_in = $("input[name='major-fluorosopy']").val();
        var thal_in = $("input[name='thal']:checked").val();
        
        $.ajax({
            method : "POST",
            url : "/process",
            data : {
                age : age_in, 
                gender : gender_in, 
                chest_pain : cp_in,
                blood_pres : blood_pres_in,
                serum : serum_in,
                fasting_blood_sugar : fasting_bld_sgr_in,
                resting_ecg : ecg_in,
                max_heart_rate : max_heart_rate_in,
                exc_induced : exc_induced_in,
                st_depression : st_depression_in,
                peak_exercise : peak_exercise_st_in,
                major_fluorosopy : major_fluorosopy_in,
                thal : thal_in
                }
        }).done(function(msg){
            result = JSON.parse(msg);
            alert(result["response_text"]);
        }); 
    });
    
</script>
{% endblock scripts %}